<div class="container">
    <h1 style="margin-top: 50px; margin-bottom: 25px;">About Miles Lowry</h1>
    <p>
        Miles Lowry is an avid programmer who loves the challenge of creating efficient website backends and making them even better. He enjoys creating the user interface, but his real interest is on the data side, which is why he builds a super fantastic website every few weeks.
    </p>
</div>