<div class="container" style="padding: 25px; margin-top:100px;">
  <div class="card text-white bg-dark mb-3" style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title">Miles Lowry, Web Developer</h1>
      <a href="#" class="btn btn-outline-warning btn-lg">Contact</a>
      <a href="#" class="btn btn-outline-warning btn-lg">Portfolio</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h3 class="card-title">My Philosophy</h3>
          <br/>
          <ul>
            <li>
              A good question goes a long way.
            </li><br/>
            <li>
              There's a better solution out there.
            </li><br/>
            <li>
              Breakthroughs require curiosity and persistence.
            </li><br/>
            <li>
              Only the Sith deal in absolutes.
            </li><br/>
          </ul>
          <a href="#" class="btn btn-outline-light">See Why</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h3 class="card-title">Bio</h3>
          <p class="card-text">I'm a backend web developer in the San Francisco Area.</p>
          <p class="card-text">I grew up thinking I was going to be an artist/roboticist/Ravenclaw wizard.</p>
          <p class="card-text">My kid self might be disappointed I'm not a kickass Ravenclaw wizard (would smartass be more accurate for Ravenclaw?), but my kid self doesn't know how awesome web development is.</p>
          <p class="card-text">I'm a creative person. I'm analytical too. Web development provides the perfect balance for me. I'm good at it, and I level up frequently.</p>
          <a href="#" class="btn btn-outline-light">Read More</a>
          <a href="#" class="btn btn-outline-light">Resume</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- <div class="card">
      <div class="row">
        <img class="avatar-img col-lg-2" src="images/temporary_photo.jpg">
        <div class="col-lg-9">
          <h1>MILES LOWRY, WEB DEVELOPER</h1>
          <p> I'm your friendly, neighborhood web developer. I develop in Node JS, Python Django, or whatever makes the best solution for the problem at hand.
          </p>
          <button class="btn btn-outline-secondary btn-lg">CONTACT</button> </h1> </body>
          <button style="margin-left: 8px;" class="btn btn-outline-secondary btn-lg">PORTFOLIO</button> </h1>
        </div>
      </div>
    </div>
    <div class="container main-container">
      <hr>
      <br>
      <h3>ABOUT ME</h3>
      <br>
      <h6>Most of my experience so far is with JavaScript and Python, but I am constantly learning. I never stop building. On my projects page you can see some of the things
        I've built, including machine learning applications, media applications, data visualization applications, and games. On each, I used the tools that solved the problem
        at hand.
      </h6><br>
      <h6>
        I'm at home with SQL and NoSQL databases. I am especially familiar with MS Server and MongoDB, but the primary fact about me that makes me a good developer is my
        adaptability. Learning new technologies is what I do for fun, and I'm good at it.
      </h6><br>
      <h6>
        You can get to know me a little bit by going to my bio page or by watching the video below.
      </h6>
    </div> -->
</div>