<div class="container" style="padding: 25px; margin-top:100px;">
  <div class="card text-white bg-dark mb-3" style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title">Miles Lowry, Web Developer</h1>
      <a href="#" class="btn btn-outline-warning btn-lg">Contact</a>
      <a href="#" class="btn btn-outline-warning btn-lg">Portfolio</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3" style="height:100%;">
        <div class="card-body">
          <h2 class="card-title">My Philosophy</h2>
          <br/>
          <ul>
            <li>
              A good question goes a long way.
            </li><br/>
            <li>
              There's a better solution out there.
            </li><br/>
            <li>
              Breakthroughs require curiosity and persistence.
            </li><br/>
            <li>
              Only the Sith deal in absolutes.
            </li><br/>
          </ul>
          <a href="#" class="btn btn-outline-light">See Why</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3" style="height:100%;">
        <div class="card-body">
          <h2 class="card-title">Bio</h2>
          <p class="card-text">I'm a backend web developer in the San Francisco area looking for fulltime work.</p>
          <h5>Professional</h5>
          <p class="card-text">Being an idea person, my interest in web development grew quickly and organically. I love the process of coming up with the right solution and take pride in the quality of my work. Even more than ideas, I love the feeling of ideas becoming real, useful products. My work speaks for itself, and I hope you'll enjoy looking through some of my projects.</p>
          <h5>Personal</h5>
          <p class="card-text">I'm married to a talented TESL teacher. We have one adorable two-year old son who gives our lives their spark. We like playing games and dreaming of the next time we can go to Disneyland.</p><br/>
          <a href="#" class="btn btn-outline-light">Portfolio</a>
          <a href="#" class="btn btn-outline-light">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card text-white bg-dark mb-3" style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title">Skills</h1>
      <br/>
          <ul>
            <li>
              A good question goes a long way.
            </li><br/>
            <li>
              There's a better solution out there.
            </li><br/>
            <li>
              Breakthroughs require curiosity and persistence.
            </li><br/>
            <li>
              Only the Sith deal in absolutes.
            </li><br/>
          </ul>
    </div>
  </div>
  <br />
  </div>